:root{
    --colorGlob: rgb(31, 129, 108);
    --bg: #E4F3FC;
}


*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins";
    
    
    background-color: var(--bg);
}
header{
    width: 100%;
    background-color: white;
    position: sticky;
    
    
}

nav{
    
    height: 4rem;
    display: flex;
    justify-content: space-around;

}
nav ul{
    float: right;
    /* margin-right: 15rem; */

}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
   font-size: 1.1rem; 
   color: black;
   text-transform: uppercase;
   width: 5rem;
   padding-left:15px;
   padding-right:15px;

}
.active:hover{
  border-bottom: 5px solid #117D95;
}
.logo{
    width: 5rem;
    height: 4rem;
    float: left;
}

/* langues baoulé */

.content{
    max-width: 1140px;
    margin: 0 auto;
}
.blocImg img{
    width: 500px;
    height: 300px;

}
.blocContOne{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.blocText{
    width: 25rem;
}
.blocText p{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.blocBack{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
}
.blocBack h3{
    font-size: 2rem;
}
.blocTitlte{
    width: 10rem;
    height: 2rem;
    background-color: var(--colorGlob);
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocTitlte p{
    color: white;
}
.blocGlobAlph{
    display: flex;
    align-items: center;
}
 .blocAlpha{
    padding: 20px;
    width: 50rem;
    height: 20rem;
    display: grid;
    grid-template: 70px 70px 70px 70px 70px 70px 70px/repeat(7, 100px) ;
 }
.alphA{
    grid-area: 1/1/2/1;
    
}
.alphB{
    grid-area: 2/2/1/3;
}
.alphC{
    grid-area: 2/3/1/4;
}
.alphA, .alphB,
 .alphC,
  .alphD, 
  .alphE, 
  .alphF, 
  .alphG, 
  .alphH,
  .alphI, 
  .alphJ, 
  .alphK, 
  .alphL, 
  .alphM, 
  .alphN, 
  .alphO, 
  .alphP,
  .alphQ,
  .alphR,
  .alphS,
  .alphT,
  .alphU,
  .alphV,
  .alphW, 
  .alphX ,
  .alphY,
  .alphZ,
  .alphee,
  .alphGe,
  .alphKp,
  .alphNy,
  .alphOo
  {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px grey;
    margin-right: 10px;
    margin-bottom: 25px;
}
.alphB, 
.alphD, 
.alphee,
.alphGe,
.alphJ,
.alphKp,
.alphN,
.alphO,
.alphP,
.alphT,
.alphV,
.alphY
{
    transform:translateY(20px);
}
.alphCard{
    display: block;
}
video{
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}
.blocVoy{
    display: grid;
    grid-template: 100px / repeat(5, 1fr);
}
.blocVoy{
    padding: 20px;
}

.voyelCard{
    display: block;
}
.voyelEN{
    grid-area: 1/1/2/2;
}
.voyelAN{
    grid-area: 1/2/2/3;
}
.voyelAN,
.voyelEN,
.voyelIN,
.voyelUN,
.voyelON
{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px grey;
    margin-right: 10px;
    margin-bottom: 25px;

}
.blocMots{
    padding: 10px;
}
.blocMotCF{
    display: flex;
    width: 100%;
}
.blocImg{
    display: flex;
    flex-wrap: wrap;
}
.imgBloc{
    display: block;
    margin-right: 5rem;
    margin-bottom: 20px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.imgBloc img{
    width: 100px;
    height: 100px;
}
.imgBloc p {
    text-align: center;
}
.motcourant{
    width: 15rem;
    height: 4rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.motC{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.motF{
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.blocFr{
    padding:30px ;
    width: 100%;
    height: 12rem;
    display: grid;
    grid-template: 2.5rem 2.5rem 2.5rem/ repeat(1, 1fr);
    
}
.blocFruit1{
    grid-area: 1/1/2/-1;
    
    
}
.blocFruit1{
    width: 50rem;
    height: 12rem;
    display: grid;
    grid-template: 2.5rem/ repeat(4, 12.5rem);
}
.blocFruit2{
    grid-area: 3/2/4/-2;
    
    
}
.blocFruit2{
    width: 50rem;
    height: 12rem;
    display: grid;
    grid-template: 2.5rem/ repeat(4, 14.5rem);
}

.elemFr1{
    grid-area: 1/1/2/2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-12deg);
}
.elemFr2{
    grid-area: 1/2/2/3;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-12deg);
}
.elemFr3{
    grid-area: 1/3/2/4;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-18deg);
}
.elemFr4{
    grid-area: 1/4/2/5;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elemFr5{
    grid-area: 1/1/2/2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(12deg);
}
.elemFr6{
    grid-area: 1/2/2/3;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(12deg);
}
.elemFr7{
    grid-area: 1/3/2/4;
    background-color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    transform: rotate(12deg);
}
.corps{
    width: 60rem;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.elemCorps{
    width: 15rem;
    height: 2rem;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.eleColor{
    color: var(--colorGlob);
}

.blocNumber{
    width: 60rem;
    padding: 20px;
}
a{
color: inherit;
}

.wrapper {
	max-width: 80rem;
    display: flex;
	margin: 0 auto;
}

ol {
	padding: 1.5rem 1.5rem 1.5rem 4em;
	border: 0.3rem solid turquoise;
	columns: 25rem;
	column-gap: 7rem;
	column-rule: 4px dotted turquoise;
	border-radius: 0.5rem;
}

ol > * + * {
	margin-top: 1rem;
}

li {
	break-inside: avoid;
}

::marker {
	content: counters(list-item, '') ': ';
	font-weight: 700;
	font-size: 1.5em;
	color: turquoise;
}

li span {
	display: block;
}

li span:first-child {
	font-size: 1.5em;
}

li span:last-child {
	font-style: italic;
}

.divider {
	min-height: 6rem;
	background: lavender;
}
.blocQuize{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocQuize button{
    width: 20rem;
    height: 3rem;
    background-color: white ;
    border: 2px solid #F1DC19;
    border-radius: 20px;
    
}