:root{
    --colorGlob: rgb(31, 129, 108);
    --bg: #E4F3FC;
}


*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.LinkActive{
    color: #117D95;
}
body{
    font-family: "Poppins";
    
    background-color: var(--bg);
}
/*------------------------header------------------------------*/
.content{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: white;
    position: sticky;
    height: 80px;
}

nav{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    padding: .5rem ;
}
nav ul{
    float: right;
    /* margin-right: 15rem; */

}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
   font-size: 1.1rem; 
   color: black;
   text-transform: uppercase;
   width: 5rem;
   padding-left:15px;
   padding-right:10px;

}
.active:hover{
  border-bottom: 5px solid #117D95;
}

/*-----------------contenaire------------------*/

.logo{
    width: 5rem;
    height: 4rem;
    float: left;
}
.contenair{
    width: 100%;
    height: 70%;
    padding: 0;
    position: relative;
}
.contenair img{
    width: 100%;
    height: 75vh;
}
.cardretransparent{
width: 42rem;
height: 23rem;
position: absolute;
top: 0;
right: 0;
margin-top: 15rem;
margin-right: 30rem;
background-color: rgba(248, 242, 242, 0.288);
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.cardretransparent h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    
}
.cardretransparent .btnconnex{
    width: 15rem;
    height: 3.2rem;
    background-color: #117D95;
    border-radius: 5rem;
    border: 2px solid white;
    margin-top: 5rem;
    margin-left:12rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.cardretransparent .btnconnex:hover{
    background-color: white;
    border: 2px solid #117D95;
    color: #117D95;
    font-size: 1.2rem;
}
.cardrblanc{
    width: 72%;
    height: 15rem;
    background-color: white;
    text-align: center;
    position: relative;
    top: 0;
    margin-top: -6rem;
    margin-left: 11rem;
    margin-bottom: 50px;
    box-shadow: #117D95 0px 3px 3px, #117D95 0px 10px 10px;
    
}
.esuan1{
    color: #F1DC19;
    font-size: 2.5rem;
}
.esuan2{
    color: #117D95;
    font-size: 2.5rem;
}
.cardrblanc p{
    font-size: 1.4rem;
    line-height: 28px;
}
.cardrblanc .ptephrase{
    font-size: 1.1rem;
}
.rebrique{
    text-align: center;
    margin-bottom: 1.5rem;
}


/*-------------slid--------------------*/
.slider{
    display: flex;
    width: 100%;
    height: 28rem;
}

.cardslid{
    width: 100%;
    height:25rem;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.cardslid h3{
    text-align: center;
    margin-top: 1rem;
}
.cardslid img{
    width: 100%;
    height: 65%;
    
}
.cardslid .btnconnex{
    width: 12rem;
    height: 3.2rem;
    background-color: #117D95;
    border-radius: 5rem;
    border: 2px solid white;
    margin-top: 2rem;
    margin-left: auto;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.cardslid .btnconnex:hover{
    background-color: white;
    border: 2px solid #117D95;
    color: #117D95;
    font-size: 1.2rem;
}
.cadremarron{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2rem;
    margin: auto;
}

.cadremarron .card{
    width:24% ;
    height: 8rem;
    border: 5px solid white;
    text-align: center;
    align-items: center;
    background-color: #D3A284;
    color: white;
 
}
.cadremarron .card:hover{
    transform: scale(1.2);
}

.card h3{
    margin-top: 10%;
}
.apropos{
    display: flex; 
    width: 100%;
}
.apropos p{
    font-size: 1rem;
    
}
.cardapropo{
    background-color: rgba(255, 255, 255, 0.609);
    width: 75%;
    height: 24rem;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
 
}
.cardapropo p{
    font-size: 1.1rem;
    line-height: 28px;
    margin-top: 1rem;
    padding: 10px;
}
.cardesuan{
    width: 23%;
    height: 10rem;
    margin-top: 10rem;
    background-color: white;
    text-align: center;
    box-shadow: #D3A284 -5px 5px, #117D95 -10px 10px, #F1DC19 -15px 15px,#D3A284 -20px 20px,  #117D95 -25px 25px;
}
.cardesuan span{
    font-size: 4rem;
    padding: 3px;
}
.footermarron{
    width: 100%;
    height: 14rem;
    background-color: #D3A284;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.placelogo{
    width: 8rem;
    height: 10rem;
    text-align: center;  
}
.placelogo img{
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
    border-radius: 50%;
}

.placeinfo, .placecateg{
    color: white;
    margin-top: 1.5rem;
    font-size: 1.2rem;
   
}

.placeinfo, .placecateg p{
    font-size: 1.2rem;
    line-height: 2rem;
}
.placeinfo a{
    color: white;

}
.placecateg a{
    color: white;
}
.traitblanc{
    width: 4px;
    height: 14rem;
    background-color: white;
}
.placemsg{
    margin-right: 4rem;
    margin-top: 2rem;
}
.placemsg p{
    color: white;
    font-size: 1rem;
    text-align: center;
    
}
.emailblanc{
    border: none;
    width: 20rem;
    height: 2rem;
    background-color: white;
}
input::placeholder{
   text-align: center;
}
.cardreemail{
    padding: 20px;
display: flex;
}
.btnvalide button{
    border: none;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
    background-color: var(--colorGlob);
    color: white;
}

footer{
    background-color: #55a3b9;
    width: 100%;
    height: 5rem;
   
}
.leslogos{
    width: 10rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
}
.leslogos img{
    width: 2rem;
    height: 2rem;
}
.foot{
    display: flex;
    justify-content: space-around;
    width: 130rem;
    color: white;
    
}
.foot p{
    margin-top: 1.3rem;
}


@media screen and (max-width:1400px) {
    .contentBloc{
        position: relative;
    }

    .cardretransparent{
        width: 30rem;
        height: 15rem;
        position: absolute;
        top:0;
        right: 0;
        margin-top: 12px;
        margin-right: 5rem;
        background-color: rgba(248, 242, 242, 0.42);
        
        }
    .cardretransparent h2{
        font-size: 1.5rem;
    }
    .cardretransparent .btnconnex{
        width: 15rem;
        height: 3.2rem;
        background-color: #117D95;
        border-radius: 5rem;
        border: 2px solid white;
        margin-top: 5rem;
        margin-left:6rem;
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
    }
    .cardrblanc{
            width: 72%;
            height: 15rem;
            background-color: white;
            text-align: center;
            margin-bottom: 50px;
            
        }

        .foot{
            display: flex;
            justify-content: space-around;
            width: 60rem;
            color: white;
            
        }
}