*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    font-family: "Poppins";
    
    background-color: #E8EBF4;
}
/*------------------------header------------------------------*/
.content{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: white;
    position: sticky;
    height: 80px;
}

nav{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    padding: .5rem ;
}
nav ul{
    float: right;
    /* margin-right: 15rem; */

}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
   font-size: 1.1rem; 
   color: black;
   text-transform: uppercase;
   width: 5rem;
   padding-left:15px;
   padding-right:10px;

}
.active:hover{
  border-bottom: 5px solid #117D95;
}

/*-----------------contenaire------------------*/

.logo{
    width: 5rem;
    height: 4rem;
    float: left;
}
.contenair{
    width: 100%;
    height: 70%;
    padding: 0;
    position: relative;
}
.contenair img{
    width: 100%;
    height: 75vh;
}
.cardretransparent{
width: 42rem;
height: 23rem;
position: absolute;
top: 0;
right: 0;
margin-top: 15rem;
margin-right: 30rem;
background-color: rgba(248, 242, 242, 0.288);

}
.cardretransparent h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    
}
.cardretransparent .btnconnex{
    width: 15rem;
    height: 3.2rem;
    background-color: #117D95;
    border-radius: 5rem;
    border: 2px solid white;
    margin-top: 5rem;
    margin-left:12rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.cardretransparent .btnconnex:hover{
    background-color: white;
    border: 2px solid #117D95;
    color: #117D95;
    font-size: 1.2rem;
}
.cardrblanc{
    width: 72%;
    height: 15rem;
    background-color: white;
    text-align: center;
    position: relative;
    top: 0;
    margin-top: -6rem;
    margin-left: 11rem;
    margin-bottom: 50px;
    
}
.esuan1{
    color: #F1DC19;
    font-size: 2.5rem;
}
.esuan2{
    color: #117D95;
    font-size: 2.5rem;
}
.cardrblanc p{
    font-size: 1.4rem;
    line-height: 28px;
}
.cardrblanc .ptephrase{
    font-size: 1.1rem;
}
.rebrique{
    text-align: center;
    margin-bottom: 1.5rem;
}


/*-------------slid--------------------*/
.slider{
    display: flex;
    width: 100%;
    height: 28rem;
}

.cardslid{
    width: 100%;
    height:25rem;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.cardslid h3{
    text-align: center;
    margin-top: 1rem;
}
.cardslid img{
    width: 100%;
    height: 65%;
    
}
.cardslid .btnconnex{
    width: 12rem;
    height: 3.2rem;
    background-color: #117D95;
    border-radius: 5rem;
    border: 2px solid white;
    margin-top: 2rem;
    margin-left: auto;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.cardslid .btnconnex:hover{
    background-color: white;
    border: 2px solid #117D95;
    color: #117D95;
    font-size: 1.2rem;
}
.cadremarron{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2rem;
    margin: auto;
}

.cadremarron .card{
    width:24% ;
    height: 8rem;
    border: 5px solid white;
    text-align: center;
    align-items: center;
    background-color: #D3A284;
    color: white;
  
}
.card h3{
    margin-top: 10%;
}
.apropos{
    display: flex; 
    width: 100%;
}
.apropos p{
    font-size: 1rem;
    
}
.cardapropo{
    background-color: rgba(255, 255, 255, 0.609);
    width: 75%;
    height: 24rem;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
 
}
.cardapropo p{
    font-size: 1.1rem;
    line-height: 28px;
    margin-top: 1rem;
    padding: 10px;
}
.cardesuan{
    width: 23%;
    height: 10rem;
    margin-top: 10rem;
    background-color: white;
    text-align: center;
    box-shadow: #D3A284 -5px 5px, #117D95 -10px 10px, #F1DC19 -15px 15px,#D3A284 -20px 20px,  #117D95 -25px 25px;
}
.cardesuan span{
    font-size: 4rem;
    padding: 3px;
}
.footermarron{
    width: 100%;
    height: 16rem;
    background-color: #D3A284;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.placelogo{
    width: 8rem;
    height: 10rem;
    border: 1px solid red;
    text-align: center;
    margin-left: 8rem;
    
}
.placelogo img{
    width: 6rem;
    height: 6rem;
    margin-top: 2rem;
    border-radius: 50%;
}


footer{
    background-color: #55a3b9;
    width: 100%;
    height: 5rem;
}
.placeinfo, .placecateg{
    color: white;
}
.traitblanc{
    width: 4px;
    height: 16rem;
    background-color: white;
}
.placemsg{

}
.emailblanc{
    width: 25rem;
    height: 3rem;
    background-color: white;
}
.cardreemail{
display: flex;
}
.btnvalide button{
    width: 10rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.369);
    margin-left: 7px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

